body,
h2,
h3,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

a {
  text-decoration: none;
}
.header {
  background-color: rgba(6, 33, 39, 0.9);
  color: rgb(233, 223, 223);
  height: 90px;
  max-width: 1170px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
}
.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  letter-spacing: 5px;
}

.top-main {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url(https://images.pond5.com/computer-coding-background-footage-090890180_prevstill.jpeg);
  background-size: cover;
  color: White;
  text-align: center;
  height: 400px;
}
.top-main h1 {
  font-size: 50px;
  letter-spacing: 5px;
}
.top-main h2 {
  font-weight: normal;
  font-family: lucida;
  font-size: 24px;
  width:100%;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation:typing 5s steps(70, end);
  animation:animasi-ketik 5s steps(70, end);
}
@keyframes animasi-ketik{
	from{width:0;}
}
@-webkit-keyframes animasi{
	from{width:0;}
}
.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  text-align: center;
}
.profiles {
  padding: 30px 10px;
  border-bottom: 1px solid #eee;
}
.profiles h2 {
  text-align: center;
  color: #34495e;
  margin-bottom: 30px;
}
.profile {
  display: flex;
  margin-bottom: 20px;
}
.profile-pict img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.profile-pict img:hover { 
	o-transition: all 0.3s;  -moz-transition: all 0.3s;
     	webkit-transition: all 0.3s; -moz-transform: scale(1.2);
     	o-transform: scale(1.2);  -webkit-transform: scale(1.2); 
}
.profile-data {
  margin-left: 10px;
}
.profile-data h5 {
  font-size: 20px;
  margin-bottom: 0;
}
.profile-data h6 {
  color: gray;
  margin-bottom: 0;
  font-size: 15px;
}
.profile-data p {
  text-align: justifiy;
  font-family: verdana;
  font-size: 15px;
}
footer {
  margin: 0;
  padding: 0;
  background-image: url(bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #777;
  font-family: sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  height: 400px;
  width: 600px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 6);
}
.left-box {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
h1 {
  margin: 0 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}
input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="submit"] {
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0, 2s ease;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #c93508;
  transition: 0.2s ease;
}
.right-box {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background-image: url("img.jpg");
  background-size: cover;
  background-position: center;
}
.right-box .signinwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0, 6);
}
button{
  margin:0 auto;
  flex-direction:column;
  padding: 12px 24px;
}	
button .social {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}
.facebook {
  background-color: #3b5998;
}
.twiter {
  background-color: #55acee;
}
.google {
  background-color: #239b76;
}
.footer {
  background-color: rgba(6, 33, 39, 0.9);
  color: rgb(233, 223, 223);
  height: 90px;
  max-width: 1170px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
}
.footer-logo {
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 3px;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
  background: #c93508;
  transition: 0.2s ease;
  
  
}
.or{
  position:absolute;
  top: 250px;
  left: 750px;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0,6);
  line-height: 40px;
  text-align: center;
}
.right-box{
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding:40px ;
  width: 300px;
  height: 400px;
  background-image:url('img.jpg') ;
  background-size: cover;
  background-position:center;

}
.right-box .signinwith{
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0,6);

}
button .social{
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;

}
.facebook{
  background: #32508e;
}
.twiter{
  background: #55acee;
}
.google {
  background: #dd4b39;
}

.footer {
  background-color: rgba(6, 33, 39, 0.9);
  color: rgb(233, 223, 223);
  height: 90px;
  max-width: 1170px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
}
.footer-logo {
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 3px;
}
